body {
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 12px;
}

.btn {
  border-radius: 8px;
}

.card-projeto, .card-tarefa {
  transition: 0.2s;
}
.card-projeto:hover, .card-tarefa:hover {
  transform: scale(1.02);
}
